.quillWrapper {
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #eee;
}
.quillWrapper .ql-toolbar button > svg {
  height: 18px !important;
  width: 18px !important;
}
.ql-toolbar, .ql-container {
  border: 0 !important;
}
.ql-editor {
  min-height: 130px !important;
  padding: 0 10px 10px 10px !important;
}